.main-colour {
  color: #00d062;
}

.home-container {
  position: relative;
  padding: 30px 0 !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

.home-header {
  padding-top: 80px !important;
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 50px !important;
}

.home-header-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid #00d062;
  box-shadow: 0 0 25px #00d062;
  transition: 0.4s ease-in-out;
}
.header-img:hover {
  box-shadow: 0 0 20px #00d062, 0 0 50px #00d062, 0 0 100px #00d062;
}


.home-about-container {
  position: relative;
  padding: 20px 0 !important;
}

.home-about-section {
  padding-left: 20px;
}

.about-heading {
  text-align: center;
}